body{
    font-family: 'The Nautigal', cursive;
}
h1{
    font-size: 50px;
}
.name-highlights{
    background-color: orange;
}
.half{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half img{
  width: 100%;
}