body{
    margin: 0px;
    font-family: 'The Nautigal', cursive;
}
h1{
    font-size: 50px;
}
.name-highlights{
    background-color: orange;
}
.p{
    color: dimgray;
}
.half{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half img{
  width: 100%;
}
.top-banner{
    background-image: url(top-banner.png);
    border: 1px solid red;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.btn{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon,tomato);
    padding:5px 10px;
    border-radius: 5px;
    color: white;
    font-weight: 700px;
}
.dream-area{
    background-image:url("dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}